<Section style="padding-top: 5rem" ;>

    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart - {{cartItemsCount}} items</h5>
                    </div>

                    {{#each cartProducts}}

                    <div class="card-body">
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                    data-mdb-ripple-color="light">
                                    <img src="/product-images/{{this.product._id}}.jpg" class="w-100"
                                        alt="Blue Jeans Jacket" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>{{this.product.Name}}</strong></p>
                                <p>Color: blue</p>
                                <p>Price: £ {{this.product.Price}}</p>

                                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                    title="Remove item"
                                    onclick="removeitem('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                    title="Move to the wish list">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 100px; height:40px">
                                    <button class="btn btn-primary px-3 me-1"
                                        onclick="chngequantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <div class="p-2 bg-light">
                                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                                    </div>
                                    <button class="btn btn-primary px-3 ms-1"
                                        onclick="chngequantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">
                                        <i class="fa fa-plus"></i></button>
                                </div>
                                <!-- Price -->
                                {{!-- <p class="text-start text-md-center">
                                    <strong>£{{totalValue}}</strong>
                                </p> --}}
                                <!-- Price -->
                            </div>
                        </div>
                        <!-- Single item -->
                        <hr class="my-4" />
                    </div>

                    {{/each}}
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                            alt="Visa" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                            alt="American Express" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                            alt="Mastercard" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                            alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <span id="total" hidden>£{{amount}}</span>
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products
                                <span id="total">{{amount}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>{{shipping}}</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                </div>
                                <span id="total"><strong>{{totalAmount}}</strong></span>
                            </li>
                        </ul>

                        <div class="float-right" style="width: 100%;">
                            <a href="/place-order" class="btn btn-primary btn-lg btn-block">Place order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    function chngequantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        quantity = parseInt(quantity)
        count = parseInt(count)


        $.ajax({
            url: '/change-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product Removed from cart")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                    location.reload()
                }
            }
        })
    }

    function removeitem(cartId, prodID, userId) {
        $.ajax({
            url: '/remove-item',
            data: {
                user: userId,
                cart: cartId,
                product: prodID,
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product Removed from cart")

                } else{
                    alert("Failed to removed item")
                }
                location.reload()
            }
        })
    }

</script>