<section class="container pt-5">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
               
            </tr>
        </thead>
        <tbody>
            {{#each cartProducts}}
            <tr>
                {{#each this.product}}
                <th scope="row">1</th>
                <td><img style="height: 50px; width: 50px" src="/product-images/{{this._id}}.jpg" alt=""></td>
                <td>{{this.Name}}</td>
                <td>{{this.Price}}</td>
                {{/each}}     
                <td><button class="cart-item-count btn btn-danger mr-3">-</button>{{this.quantity}}<button class="btn btn-danger">+</button></td>                         
                <td><a class="btn btn-danger" href="/admin/delete-product/{{this._id}}">Remove</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>