<div class="container">
<Section style="padding-top: 5rem";>
    <div class="container py-5 p-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Confirm delivery address</h5>
                        <p>Total Price: Rs. {{totalPrice}}</p>
                    </div>


                    <div class="card-body">
                        <form id="checkout-form">
                            <h5>{{address.name}}</h5>
                            <h6>{{address.house}}{{" "}}{{address.street}}</h6>
                            <h6>{{address.city}}{{" "}}{{address.zip}}</h6>
                            <h6>{{address.email}}</h6>
                            <h6>{{address.mobile}}</h6>
                            <input type="text" name="userId" value="{{user._id}}" hidden>
                            <input type="text" name="name" value="{{address.name}}" hidden>
                            <input type="text" name="house" value="{{address.house}}" hidden>
                            <input type="text" name="street" value="{{address.street}}" hidden>
                            <input type="text" name="city" value="{{address.city}}" hidden>
                            <input type="text" name="zip" value="{{address.zip}}" hidden>
                            <input type="text" name="email" value="{{address.email}}" hidden>
                            <input type="text" name="mobile" value="{{address.mobile}}" hidden>



                        <button type="button" class="btn btn-primary" disabled>Edit Address</button>
                        <button type="submit" class="btn btn-success">Proceed Checkout</button>

                        </form>

                        





                        {{!-- <div id="card-body">
                            <form id="checkout-form" style="padding:40px">
                                <!-- Text input -->
                                <div class="form-outline mb-4">
                                    <input class="form-control-plaintext" type="text" id="form7Example3"
                                        class="form-control" name="name" value="{{address.fName}}" />
                                    <label class="form-label" for="form7Example3">Full name</label>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-1">
                                        <div class="form-outline">
                                            <input class="form-control-plaintext" type="text" id="form7Example1"
                                                class="form-control" name="houseNumber" />
                                            <label class="form-label" for="form7Example1">House number</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-outline">
                                            <input class="form-control-plaintext" type="text" id="form7Example2"
                                                class="form-control" name="street" />
                                            <label class="form-label" for="form7Example2">Street name</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input -->
                                <div class="form-outline mb-4">
                                    <input class="form-control-plaintext" type="text" id="form7Example4"
                                        class="form-control" name="city" />
                                    <label class="form-label" for="form7Example4">City</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-control-plaintext" type="text" id="form7Example4"
                                        class="form-control" name="post" />
                                    <label class="form-label" for="form7Example4">Post Code</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-control-plaintext" type="text" id="form7Example4"
                                        class="form-control" name="mobile" />
                                    <input type="text" name="userId" value="{{user._id}}" hidden>
                                    <label class="form-label" for="form7Example4">mobile</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-control-plaintext" type="text" id="form7Example4"
                                        class="form-control" name="email" value="{{address.fName}}" />
                                    <label class="form-label" for="form7Example4">email</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <button class="btn btn-primary">Checkout</button>
                                </div>
                            </form>
                        </div> --}}
                    </div>
                </div>
            </div>
</section>
</div>


<script>
    $("#checkout-form").submit(function (e) {
        e.preventDefault() // prevent submission of form
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(), // send all data from this form
            success: function (response) {
                razorpayPayment(response)

            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_zd7eeAYu6Ev5Jm", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "SKart", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                //alert(response.razorpay_payment_id);
                //alert(response.razorpay_order_id);
                //alert(response.razorpay_signature);
                verifyPayment(response, order);
            },
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }

    function verifyPayment(payment, order) {
        //alert("verify payment function called")
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: function (response) {
                if (response.status) {
                    location.href = '/order-list'
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>